{% extends "base.html" %}

{% block content %}
        <img class="brand2" src="/static/brand.png"/>
        <form action="/accounts/?target=/" method="POST" enctype="multipart/form-data">
                <input class="field" type="password" placeholder="OLD Password" name="old-password" required/>
                <br>
                <input class="field" type="password" placeholder="NEW Password" name="new-password" required/>
                <br>
                <button class="btn btn-primary" type="submit">Change Password</button>
                <input type="hidden" name="operation" value="password"/>
        </form>
{% endblock %}